<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node Template Server</title>
</head>

<body>
    <h1>Node Template Server</h1>
    <p>An example server using Node and a template engine.</p>
    <p>Welcome {{name}}!!! You are {{adjective}} today!</p>

    <ul>
        {{#nameList}}
        <li>{{.}}</li>
        {{/nameList}}
    </ul>
    <form method="post" action="localhost:8081/login.html">
        <input type="text" placeholder="Pseudo" name="username">
        <input type="submit" value="Envoi">
    </form>
</body>

</html>